
.chess-board {
    border-collapse: collapse;
    width: 800px;
    height: 800px;
  }
  
  .square {
    width: 50px;
    height: 50px;
  }
  
  .white {
    background-color: white;
  }
  
  .black {
    background-color: black;
  }

  .startButton {
    margin-top: 20px;
    padding: 15px 50px;
    border: 1px solid #fff;
  }

  td.visited{
    background-color: red;
    border: 3px solid gold;
  }

  .finalisedPositions {
    position: absolute;
    right: 10px;
    top: 20px;
  }

  .resetContainer {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);

  }

  .resetContainer h2 {
    font-size: 25px;
  }
