
.chess-piece {
    width: 50px;
    height: 50px;
  }
  
  .white-king {
    background-image: url('../../public/images/horse-white.png');
    background-size: cover;
    margin: auto;
  }
  
  .black-king {
    background-image: url('../../public/images/horse.png');
    background-size: cover;
    margin: auto;
  }
  